<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li>
                        <a routerLink="./barchart">Bar Chart</a>
                    </li>
                    <li>
                        <a routerLink="./piechart">Pie Chart</a>
                    </li>
                    <li>
                        <a routerLink="./linechart">Line Chart</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <router-outlet></router-outlet>
    </div>
</div>