<div class="container" style="border:double red 1px;">
  <span class="pull-right">
    <strong class="list-group-item-heading">Utility by Abhaykumar Lodha&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
  </span>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerActive="active" routerLink="./charts">Basic Charts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/">Advanced Charts</a>
    </li>
  </ul>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
<div>
<br><br><br>
</div>